body{
	background-color: white;
	text-align: center;
	position: center;
	width: 100%;
	min-width:300px;
	max-width:1024px;
}


#Eau{
	position:relative;
	display: block;
	left:-250px;
	top:-40px;

}





header #AFDEAS{
	text-align: left;
	left: 23px;
	top: -80px;
	display:inline-block;
	position: relative;
	z-index:3;

}




header{
	width:99%;
	position: center;
	position: absolute;
	height: 80px;
	top: 10px;
	background-color: #899B8D;
	min-width:940px;
}

header a{
	text-decoration:none;
}

header #rectangle{
	
	z-index:5;
	top: 50px;
	left: 0;
	height: 80px;
	width: 99%;
	background-color: #899B8D;
}


#menu{
	margin: 10px auto 0 auto;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left : -485px; 
	visibility:hidden;
}
#menu_v{
	margin: 10px auto 0 auto;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left : -485px; 
	display:true;
}

.menu_icone{
width: 90px;
height: 90px;
background: url(../img/Menu_icone2.png) no-repeat;
background-size: 40px 40px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}

#sous_menu{
	display:none;
 margin-top: 10px;
}


div#menu_v:hover #sous_menu {
display:block;
}

#sous_menu div{
	height:30px;
	width:200px;
	padding: 1px 0px 1px 0px;
	background:#404040;
	color:#fff;
}

#sous_menu a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	font-family:;
	font-size:50%;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	background:#808080;
}

#sous_menu a:hover{
	background:#02020A;
}

header .part{
	top:-120px;
	z-index:2;
	display:inline-block;
	position: relative;
	left:10px;
}

header .part_i{
	visibility:hidden;
}

.part h2{
	color: white;
	font-size: 20px;
}
.part h2:hover{
	background-color: #89AB9D;
}

header #part1{
	width: 111px;
	color: white;
	background-color: #899B8D;
	height: 60px;
	position: relative;
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	text-align: center;
	
	
}

header #part2{
	width: 111px;
	color: white;
	background-color: #899B8D;
	height: 60px;
	position: relative;
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	text-align: center;
}



header #part3{
	width: 111px;
	color: white;
	background-color: #899B8D;
	height: 60px;
	position: relative;
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	text-align: center;
}

header #part4{
	width: 111px;
	color: white;
	background-color: #899B8D;
	height: 60px;
	position: relative;
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	text-align: center;
}

header #part5{
	width: 111px;
	color: white;
	background-color: #899B8D;
	height: 60px;
	position: relative;
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: white;
	border-right-style: solid;
}




#globalcontent{
	position: absolute;
	vertical-align:50%;
	left: 5%;
	
	min-width:502px;
	width:90%;
	
}

#content{
	position: relative;
	display:inline-block;
	min-width:890px;
	width:90%;
}










<!--  ACCUEIL PROD{}  -->

#globalcontent #col-01{
	position: relative;
	display: inline-block;
	width:55%;
	left:00px;
	max-width:600px;
	min-width:500px;
	text-align:left;
	top:-100px;
}

#titre_01{
	position: relative;
	height: 75px;
	text-align: center;
	font-size: 13px;
}


#corps_01{
	text-align:left;
	position:relative;
	top:100px;
	width:90%;
}







#ligneverticale{
position: relative;
display:inline-block;
width: 2px;
height: 392px;
background-color: #899B8D;
top:200px;
}






#globalcontent #col-02{
	position: relative;
	display: inline-block;
	width:35%;
	
	min-width:200px;
	text-align:left;
	top: -150px;
}




#titre_02{
	position:relative;
	left:10px;
}

#corps_02{
	position:relative;
	top:200px;
	left: 40px;
}

.prod_acc_ligne{
	display:inline;
}

.prod_acc_suligne{
	display:inline-block;
}










<!-- MODIFICATION PROD{} -->

#col_00{
	position:relative;
	width:100%;
}

#titre_00{
	position:relative;
	left:30%;
}

#corps_00{
	position:relative;
	width:60%;
	left:20%;
}

#prod_modif{
	position:relative;
	text-align:left;
	top: 200px;
	width: 50%;
	min-width: 500px;
}

.prod_submit_suligne{
	position:relative;
	display:inline-block;
	width: 200 px;
}

#prod_submit_nom{
	left:15px;
}

#prod_submit_adress{
	width: 400px;
}

.prod_button{
	display:inline-block;
	position:relative;
	text-align:middle;
	left:30%;
	
}







<!--  COMPTES PROD{}  -->

#comptes_tri{
	position:relative;
	display: block;
}

#livre_compte{
	position: relative;
	left: 25%;
	border-style:solid;
	border-width:1px;
	border-colore:black;
	width:50%;
	min-width:600px;
	border-collapse:collapse;
}

#livre_compte th{
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:black;
	padding-left:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	
	background-color:#999999;
}

#livre_compte td{
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:black;
	padding-left:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	background-color:#EEEEEE;
}









<!--  COMMANDES PROD{}  -->

#liste_commandes{
	position:relative;
	top:100px;
}




#barre_ong_command{
	top:00px;
	
	position:relative;
}


.item_barre_command{
	position:relative;
	display:inline-block;
	width: 96px;
	heigth:15px;
	background-color: #DDDDDD;
	border-style:double;
	border-width:1px;
	border-color: #888888;
	top:-0px;
	z-index:1;
}
.item_barre_command:hover{
	border-left-color:#BBAAAA;
	border-top-color:#BBAAAA;
	border-bottom-color:#885555;
	border-right-color: #885555;
	background-color:#DDEEEE;
	cursor:pointer;
}
#i_b_co_1{
	background-color: #DDDDDD;
}#i_b_co_2{
	background-color: #DDDDDD;
}#i_b_co_1_s{
	background-color: #33AAAA;
}#i_b_co_2_s{
	background-color: #33AAAA;
}

#comm{
	top:20px;
	width:60%;
	left:20%;
	text-align:center;
	position:relative;
	
}


.item_comm{
	padding-bottom:50px;
	display:inline-block;
	min-width:300px;
	width:50%;
	position:relative;
	left:-20%;
}

.item_comm.attente{
	visibility:true;
}
.item_comm_i.attente{
	position:absolute;
	visibility:hidden;
}

.item_comm.encours{
	visibility:true;
}
.item_comm_i.encours{
	position:absolute;
	visibility:hidden;
}

.item_comm.historique{
	visibility:true;
}
.item_comm_i.historique{
	position:absolute;
	visibility:hidden;
}


.inner_comm{
	padding-top: 10px;
	
	top:30px;
	padding-bottom:10px;
	border-style:double;
	border-color:black;
	border-width:1px;
	background-color:#EEEEEE;
}
 
 
 
 .nom_client{
 	font-size:15px;
 	font-style:bold;
 }
 
 .comm_block{
 	width: 70%;
 	padding-top: 10px;
	top:30px;
	padding-bottom:10px;
 }

.date_comm{
	display: inline-block;
 	width: 49%;
 	text-align:left;	
}

.num_comm{
	display: inline-block;
 	width: 49%;
 	text-align:right;	
}
 
.produit_livre{
	display: inline-block;
 	width: 70%;
 	text-align:left;	
}
 
  .prix_produit{
 	display: inline-block;
 	width: 29%;
 	text-align:right;
 }
  .dateliv{
 	display: inline-block;
 }
 

.btn_detail{
	position:relative;
	width:10%;
	left:45%;
	z-index:1;
	border-style:double;
	border-color:black;
	border-width:1px;
	background-color:#FFFFFF;
}
.btn_detail:hover{
	border-left-color:#BBAAAA;
	border-top-color:#BBAAAA;
	border-bottom-color:#885555;
	border-right-color: #885555;
	background-color:#DDEEEE;
	cursor:pointer;
}

.valid{
	color:green;
}

.retard{
	color:red;
}


#detail_comm_window{
	opacity:1.4;
	position:fixed;
	left:25%;
	
	top:150px;
	min-width:400px;
	padding-left:10%;
	padding-right:10%;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#FFFFFF;
	border-style:double;
	border-width:1px;
	border-color:black;
	z-index:4;
}

.detail_comm_etat{
	font-size:10px;
	display:inline-block;
}





<!-- FICHES PRODUITS PROD{}  -->


#corps_catalogue{
	position:relative;
	width:60%;	
	top: 10px;
}


#barre_ong_catalogue{
	top:200px;
	
	position:relative;
}


.item_barre_catalogue{
	position:relative;
	display:inline-block;
	width: 96px;
	heigth:15px;
	background-color: #DDDDDD;
	border-style:double;
	border-width:1px;
	border-color: #888888;
	top:-0px;
	z-index:1;
}
.item_barre_catalogue:hover{
	border-left-color:#BBAAAA;
	border-top-color:#BBAAAA;
	border-bottom-color:#885555;
	border-right-color: #885555;
	background-color:#DDEEEE;
	cursor:pointer;
}
#i_b_ca_1{
	background-color: #DDDDDD;
}#i_b_ca_2{
	background-color: #DDDDDD;
}#i_b_ca_3{
	background-color: #DDDDDD;
}#i_b_ca_4{
	background-color: #DDDDDD;
}#i_b_ca_5{
	background-color: #DDDDDD;
}#i_b_ca_6{
	background-color: #DDDDDD;
}#i_b_ca_1_s{
	background-color: #33AAAA;
}#i_b_ca_2_s{
	background-color: #33AAAA;
}#i_b_ca_3_s{
	background-color: #33AAAA;
}#i_b_ca_4_s{
	background-color: #33AAAA;
}#i_b_ca_5_s{
	background-color: #33AAAA;
}#i_b_ca_6_s{
	background-color: #33AAAA;
}

#barre{
	position:relative;
	top:180px;
	width: 100%;
	height: 2px;
	background-color: lightgrey;
}

#rech_catalogue{
	position:relative;
	left: 20px;
	z-index:1;
}


#cat{
	top:230px;
	width:100%;
	text-align:left;
	position:relative;
	left:2%;
}

.item_cat{
	position:relative;
	visibility:true;
	width:28%;
	min-width: 150px;
	padding-right:5%;
	display:inline-block;
	padding-bottom:30px;	
}

.item_cat_i{
	position:absolute;
	visibility:hidden;
}

.inner_item{
	padding-top: 5%;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:5%;
	border-style:double;
	border-color:black;
	border-width:1px;
	background-color:#EEEEEE;
}
.inner_item:hover{
	border-left-color:#BBAAAA;
	border-top-color:#BBAAAA;
	border-bottom-color:#885555;
	border-right-color: #885555;
	background-color:#DDEEEE;
	cursor:pointer;
}


 .image_produit{
 	width:120px;
 	max-width:120px;
 	height: 100px;
 	position:relative;
 	text-align:center;
 	left:25%;
 }
 
 .image_produit img{
 	width:100%;
 }

#detail_item_background{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#CCCCCC;
	opacity:0.6;
	z-index:3;
}
.background_v{
	visibility:true;
}
.background_i{
	visibility:hidden;
}

#detail_item_window{
	opacity:1.4;
	position:fixed;
	left:25%;
	
	top:50px;
	min-width:400px;
	padding-left:10%;
	padding-right:10%;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#FFFFFF;
	border-style:double;
	border-width:1px;
	border-color:black;
	z-index:4;
}
.w_v{
	visibility:true;
}
.w_i{
	visibility:hidden;
}


#detail_item_close{
	position:absolute;
	top:5px;
	right:5px;
	width:30px;
	height:20px;
}
#detail_item_close img{
	width:100%;
	height:100%;
}

.detail_item_li{
	display:inline-block;
}

#detail_item_titre{
	font-size:20px;
}


#detail_item_date{
	width:100px;
}










